body {
    display: flex;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-beige {
    background-image: linear-gradient(#403b2f, #a39677);
    backdrop-filter: blur(20);
    padding: 0px 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    margin: 16px 0px;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    padding: 24px 0px;
    
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    flex: 1;
}

.hero-text {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.shire-img {
    display: flex;
    height: 250px;
    width: 200px;
    flex: 1;
}

.content {
    display: flex;
    background-color: #b1c995;
}
ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a, .hero-stext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

button {
    background-color: #38663B;
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 8px 24px;
}

